<app-navbar></app-navbar>
<!-- Content for the main page -->
<div class="container-fluid background" style="padding: 0;" >
  <div class="container" style="padding-bottom: 50px;">
    <div class="row">
      <div class="col-md-12">
          <strong><h2> <i class="fa fa-beer"></i><span class="text-primary"> BREW STATS</span></h2></strong>
      </div>
    </div>
    <hr>
    <div *ngIf="loadingStats"  class="container text-center" style="min-height: 700px;">
      <i class="fa fa-circle-o-notch fa-spin" style="font-size:50px"></i>
    </div>
    <div *ngIf="!statsAvailable && !loadingStats"  class="container text-center alert alert-danger" style="margin-bottom: 400px;">
      <p> <strong>There are currrently no brew stats avalible.</strong></p>
    </div>
    <div *ngIf="!loadingStats && statsAvailable">
      <div class="row text-center" style="padding-bottom: 10px;">
        <h2> <strong>{{ brewName }}</strong></h2>
        <h4><strong>Brew Date: {{ brewDate }}</strong></h4>
        <h4>Temperature Units <span>{{ units ? '°F' : '°C' }}</span></h4>
        <ui-switch (change)="onTempUnitChange($event)"></ui-switch>
      </div>
      <div class="row text-center" style="padding-bottom: 50px;">
        <div class="col-md-4 col-sm-12" >
          <h4>Latest Reading: <strong>{{ latestReading }}</strong></h4>
          <h4>Fermentation Day: <strong>{{ day }}</strong></h4>
        </div>
        <div class="col-md-4 col-sm-12">
          <h4>Current Temperature: <strong>{{ latestTemp }}</strong></h4>
          <h4>Current Gravity: <strong>{{ latestGravity }}</strong></h4>
        </div>
        <div class="col-md-4 col-sm-12">
          <h4>Original Gravity: <strong>{{ originalGravity }}</strong></h4>
          <h4>Current ABV: <strong>{{ currABV }}</strong></h4>
        </div>
      </div>
    </div>
    <div class="row">
      <canvas id="lineChart" height="150" ></canvas>
    </div>
    <div class="row">
      <!-- <canvas id="myChart" height="150" ></canvas> -->
    </div>
  </div>


<!-- [BEGIN] Footer Container -->
<footer class="navbar-default" style="margin-top: 125px;">
  <div class="container-fluid" style="padding: 5px 0 5px 0;">
    <div class="text-center">
      <p style="color: #FFFFFF;"> © {{year}} Created by Brock Tubre.</p>
    </div>
  </div>
</footer>
<!-- [END] Footer Container -->
</div>
