<app-navbar></app-navbar>
<!-- Content for the main page -->
<div class="container-fluid background" style="padding: 0;" >
  <div class="container" style="padding-bottom: 100px;">
    <div class="row">
      <div class="col-md-12">
          <strong><h2> <i class="fa fa-beer"></i><span class="text-primary"> BREW STATS</span></h2></strong>
      </div>
    </div>
    <hr>
    <div class="row">
      <h3> Latest Reading: <strong>{{ latestReading }}</strong></h3>
      <h3> Temperature: <strong>{{ latestTemp }}&#176; F</strong></h3>
      <h3> Gravity: <strong>{{ latestGravity }}</strong></h3>
    </div>
    <div *ngIf="loadingStats"  class="container text-center" style="min-height: 700px;">
      <i class="fa fa-circle-o-notch fa-spin" style="font-size:50px"></i>
    </div>
    <div *ngIf="!statsAvailable && !loadingStats"  class="container text-center alert alert-danger" style="margin-bottom: 400px;">
      <p> <strong>There are currrently no brew stats avalible.</strong></p>
    </div>
    <canvas id="myChart" height="200" >{{ chart }}</canvas>
  </div>


<!-- [BEGIN] Footer Container -->
<footer class="navbar-default" style="margin-top: 125px;">
  <div class="container-fluid" style="padding: 5px 0 5px 0;">
    <div class="text-center">
      <p style="color: #FFFFFF;"> © {{year}} Created by Brock Tubre.</p>
    </div>
  </div>
</footer>
<!-- [END] Footer Container -->
</div>
