<app-navbar></app-navbar>
<!-- Content for the main page -->
<div class="container-fluid background" style="padding: 0;" >
  <div class="container text-center">
    <div class="row">
      <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vTtM6gu0JJcvo9ZhmcNlEBQ7rC1T8N6_oa86y-oV8L11CkVRQy6fvVhuxS8dUgTTa6suVbBVaave1LS/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
    </div>
  </div>


<!-- [BEGIN] Footer Container -->
<footer class="navbar-default sticky-footer" style="margin-top: 125px;">
  <div class="container-fluid" style="padding: 5px 0 5px 0;">
    <div class="text-center">
      <p style="color: #FFFFFF;"> © {{year}} Created by Brock Tubre.</p>
    </div>
  </div>
</footer>
<!-- [END] Footer Container -->
</div>
